.contact-container .header-contact {
  display: flex;
}
.contact-container .header-contact .text-container {
  flex: 6;
}
.contact-container .header-contact .spacer {
  flex: 4;
}
.contact-container .info-container {
  margin-top: 80px;
  color: #434343;
  display: flex;
}
.contact-container .info-container .info {
  flex: 4;
  display: flex;
  flex-direction: column;
}
.contact-container .info-container .info .address {
  display: flex;
  align-items: center;
}
.contact-container .info-container .info .address .text {
  flex: 1;
  font-weight: bold;
}
.contact-container .info-container .info .address .text .bottom {
  margin-top: 10px;
}
.contact-container .info-container .info .address .line-container {
  flex: 1;
}
.contact-container .info-container .info .address .line-container .line {
  width: 100%;
  height: 4px;
  background-color: #434343;
}
.contact-container .info-container .info .contact {
  margin: 43px 0;
}
.contact-container .info-container .info .contact .contact-item:first-of-type {
  margin-bottom: 30px;
}
.contact-container .info-container .info .contact .contact-item .label {
  margin-bottom: 5px;
}
.contact-container .info-container .map {
  box-shadow: -8px 5px 17px 4px rgba(0, 0, 0, 0.61);
  margin-left: 40px;
  flex: 6;
}

.staff-container {
  padding-left: 100px;
  padding-right: 100px;
  color: #434343;
  border-bottom: 6px dotted #b2b2b2;
}
.staff-container .subtitle-link {
  font-weight: bold;
  color: #2543de;
}
.staff-container .staff-cards-list {
  display: grid;
  grid-template-columns: 50% 50%;
}
.staff-container .staff-cards-list .card-item {
  margin: 30px 20px;
  display: flex;
}
.staff-container .staff-cards-list .card-item .avatar {
  max-width: 160px;
  flex: 1;
}
.staff-container .staff-cards-list .card-item .avatar img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.staff-container .staff-cards-list .card-item .info {
  margin-left: 36px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.staff-container .staff-cards-list .card-item .info .name {
  font-weight: bold;
  font-family: century-gothic, sans-serif;
  color: #565656;
  margin-bottom: 16px;
}
.staff-container .staff-cards-list .card-item .info .person-contact > * {
  margin: 5px 0;
}
.staff-container .staff-cards-list .card-item .info .person-contact .blue {
  color: #2543de;
}

@media screen and (max-width: 1100px) {
  .staff-container {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  .contact-container .header-contact .text-container {
    flex: 1;
  }
  .contact-container .header-contact .spacer {
    flex: 0;
  }
  .contact-container .info-container {
    flex-direction: column;
  }
  .contact-container .info-container .info {
    margin-bottom: 30px;
  }
  .contact-container .info-container .info .address .text {
    flex: 6;
  }
  .contact-container .info-container .info .address .line-container {
    flex: 4;
  }
  .contact-container .map {
    max-width: 100%;
    margin-left: 0 !important;
  }
  .contact-container .map iframe {
    width: 100%;
  }

  .staff-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .staff-container .staff-cards-list {
    grid-template-columns: 100%;
  }
  .staff-container .staff-cards-list .card-item {
    flex-direction: column;
    align-items: center;
  }
  .staff-container .staff-cards-list .card-item .avatar img {
    width: 100px;
    height: 100px;
  }
  .staff-container .staff-cards-list .card-item .info {
    margin-top: 16px;
    margin-left: 0;
  }
  .staff-container .staff-cards-list .card-item .info .name {
    text-align: center;
    font-size: 18px;
  }
  .staff-container .staff-cards-list .card-item .info .person-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .staff-container {
    padding: 0;
  }
}