.overview-container {
  display: flex; }
  .overview-container .img-container img {
    width: 100%;
    display: block; }
  .overview-container .text-container {
    flex: 6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: bold; }
    .overview-container .text-container a {
      font-family: century-gothic, sans-serif;
      color: #0079c0;
      text-decoration: none; }
    .overview-container .text-container .links-row {
      display: flex; }
      .overview-container .text-container .links-row .overview-link {
        position: relative;
        padding: 0 10px; }
        .overview-container .text-container .links-row .overview-link:first-of-type {
          padding-left: 0; }
        .overview-container .text-container .links-row .overview-link::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          height: 100%;
          width: 1px;
          background: #b240c4; }
        .overview-container .text-container .links-row .overview-link:last-of-type::after {
          padding-right: 0;
          margin-right: 0;
          display: none; }
    .overview-container .text-container .overview-img {
      margin: 70px 0; }
      .overview-container .text-container .overview-img #header-caption {
        background: url("../../assets/svg/main-page/main-title-background.jfif") 0% 32% no-repeat padding-box;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        mix-blend-mode: screen;
        opacity: 1;
        background-size: cover; }
    .overview-container .text-container .familiarize a {
      position: relative;
      padding-bottom: 10px; }
      .overview-container .text-container .familiarize a::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: transparent linear-gradient(270deg, #0079c0 0%, #a600c0 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        height: 2px; }
  .overview-container .img-container {
    display: flex;
    margin-left: 50px;
    flex: 4; }

.service-description-container {
  display: flex;
  font-family: "Open Sans", sans-serif;
  border-bottom: 6px dotted #b2b2b2; }
  .service-description-container .text-container {
    flex: 6; }
    .service-description-container .text-container p {
      margin-bottom: 30px; }
  .service-description-container .images-container {
    margin-left: 40px;
    flex: 4;
    display: flex;
    flex-direction: column; }
    .service-description-container .images-container .top {
      display: flex;
      margin-bottom: 20px; }
      .service-description-container .images-container .top img {
        width: 100%;
        display: block;
        max-height: 290px;
        object-fit: cover; }
    .service-description-container .images-container .bottom {
      display: flex; }
      .service-description-container .images-container .bottom .cube {
        margin-right: 20px; }
      .service-description-container .images-container .bottom > img {
        flex: 1;
        width: calc(50% - 20px);
        display: block;
        max-height: 170px;
        object-fit: cover; }

.contact-our-services-container {
  display: flex;
  padding: 0 100px; }
  .contact-our-services-container .img-container {
    flex: 7;
    position: relative; }
    .contact-our-services-container .img-container img {
      width: 100%;
      display: block; }
    .contact-our-services-container .img-container .overlay {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 180px;
      background: #ffffff 0% 0% no-repeat padding-box;
      opacity: 0.65; }
  .contact-our-services-container .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: -100px;
    flex: 3; }
    .contact-our-services-container .text-container .primary-button {
      margin-top: 30px; }

@media screen and (max-width: 1700px) {
  .overview-container .img-container {
    margin-left: 0; }

  .contact-our-services-container {
    padding: 0 60px; } }
@media screen and (max-width: 1100px) {
  .overview-container .text-container .links-row {
    flex-wrap: wrap;
    justify-content: center; }
    .overview-container .text-container .links-row .overview-link:first-of-type {
      padding-left: 20px; }
  .overview-container .text-container .overview-img {
    margin: 30px 0; }
  .overview-container .img-container {
    margin-left: 20px; }

  .contact-our-services-container {
    flex-direction: column;
    margin-top: 100px;
    padding: 60px 150px 40px;
    background: #efefef;
    border-radius: 16px; }
    .contact-our-services-container .img-container .overlay {
      display: none; }
    .contact-our-services-container .text-container {
      margin-top: 30px;
      left: 0; }
      .contact-our-services-container .text-container .second-title {
        color: #2d2d2d;
        margin-bottom: 20px !important; } }
@media screen and (max-width: 900px) {
  .overview-container {
    flex-direction: column;
    padding: 20px 0; }
    .overview-container .text-container .overview-img {
      margin: 30px 0; }
      .overview-container .text-container .overview-img .first-title {
        text-align: center; }
    .overview-container .text-container .familiarize {
      text-align: center; }
    .overview-container .img-container {
      margin-top: 100px;
      padding: 0 30px; } }
@media screen and (max-width: 768px) {
  .service-description-container {
    flex-direction: column; }
    .service-description-container .images-container {
      margin-top: 40px;
      margin-left: 0; }

  .contact-our-services-container {
    padding: 40px 16px 30px; } }

/*# sourceMappingURL=main-page.css.map */
