$padding-lg-top: 40px;
$padding-lg-bottom: 40px;
$padding-lg-left: 270px;
$padding-lg-right: 270px;

$padding-lm-top: 40px;
$padding-lm-bottom: 40px;
$padding-lm-left: 200px;
$padding-lm-right: 200px;

$padding-l-top: 30px;
$padding-l-bottom: 30px;
$padding-l-left: 150px;
$padding-l-right: 150px;

$padding-md-top: 25px;
$padding-md-bottom: 25px;
$padding-md-left: 100px;
$padding-md-right: 100px;

$padding-m-top: 0;
$padding-m-bottom: 20px;
$padding-m-left: 30px;
$padding-m-right: 30px;

$padding-s-top: 0;
$padding-s-bottom: 30px;
$padding-s-left: 25px;
$padding-s-right: 25px;

$padding-sm-top: 0;
$padding-sm-bottom: 30px;
$padding-sm-left: 16px;
$padding-sm-right: 16px;

$media-screen-lg: 1920px;
$media-screen-lm: 1700px;
$media-screen-l: 1400px;
$media-screen-md: 1100px;
$media-screen-m: 900px;
$media-screen-s: 768px;
$media-screen-sm: 480px;
